<h1>Edit a User </h1>

<% if @user.errors.any? %>
  <div>
    <%= @user.errors.full_messages%>
  </div>
<% end %>

<%= form_for @user do |f|%>
  <%= f.label :username, "Enter Username:" %><br>
  <%= f.text_field :username, placeholder: "your username" %><br><br>
  <%= f.label :email, "Enter Email:" %><br>
  <%= f.text_field :email, placeholder: "your email" %><br><br>
  <%= f.label :password, "Enter Password:" %><br>
  <%= f.password_field :password, placeholder: "your password" %><br><br>
  <%= f.submit "Submit" %>
<% end %>
