<%# 1. Use typical HTML form %>
<%# <HTML lang="en">

  <head>
    <meta charset="utf-8">
  </head>

  <form accept-charset="UTF-8" action="/users" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]"><br><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]"><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]"><br><br>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token >">

    <input type="submit" value="Submit">
  </form>
</HTML> %>

<%# 2. Use form_tag %>
  
<%# form_tag('/users', method: :post) do%>
  <%# label_tag 'username', 'Username: ', class: 'user_label'<br/> %>
  <%# text_field_tag 'user[username]', nil, class: 'user_input'<br/> %>
  <%# label_tag 'email', 'Email: ', class: 'user_label'<br/> %>
  <%# text_field_tag 'user[email]', nil, class: 'user_input'<br/> %>
  <%# label_tag 'password', 'Password: ', class: 'user_label'<br/> %>
  <%# password_field_tag 'user[password]', nil,  class: 'user_input'<br/> %>
  <%# submit_tag 'Submit', class: 'sub_btn'%>
<%# end %>

<%# 2. User form_for %>

<h1>Add a New User </h1>

<% if @user.errors.any? %>
  <div>
    <%= @user.errors.full_messages%>
  </div>
<% end %>

<%= form_for @user, url: {action: "create"} do |f|%>
  <%= f.label :username, "Enter Username:" %><br>
  <%= f.text_field :username, placeholder: "your username" %><br><br>
  <%= f.label :email, "Enter Email:" %><br>
  <%= f.text_field :email, placeholder: "your email" %><br><br>
  <%= f.label :password, "Enter Password:" %><br>
  <%= f.password_field :password, placeholder: "your password" %><br><br>
  <%= f.submit "Submit" %>
<% end %>

